#!/usr/bin/python
#
# Configuration file for PatchesDB
# Manually configured (in other words set the values appropriately)
# Values that should definitely be changed are in CAPS.
# The other values may or may not be suitable for your install.

import string

# MySQL database settings
dbHost = "localhost"
dbName = "patchesdb"
dbUser = "patchesdb"
dbPass = "CHANGEME!"

# Path to PatchesDB install directory
BasePath = "/ABS/PATH/TO/PATCHESDB"
IncludePath = BasePath + "/include"

# Path to top folder of instrument file archive
FileBasePath = "/ABS/PATH/TO/ARCHIVE"
PatchPath = FileBasePath + "/patches"
IncomingPath = FileBasePath + "/incoming"
ImportPath = FileBasePath + "/import"
ActivatePath = FileBasePath + "/activate"
OriginalPath = FileBasePath + "/original"

# Path to PHPBB forum
PHPBBPath = "/ABS/PATH/TO/PHPBB3"

# Paths to external executables
PHP_CMD = "/usr/bin/php"
FILE_CMD = "/usr/bin/file"
UNZIP_CMD = "/usr/bin/unzip"
ZIP_CMD = "/usr/bin/zip"
UNRAR_CMD = "/opt/bin/unrar"
SFARKXTC_CMD = "/usr/local/bin/sfarkxtc"

# Comment to add to CRAM files
CramFileComment = "Encoded by PatchesDB software\n" \
                  "http://swami.resonance.org\n"

# Comment to add to ZIP files
ZipFileComment = "Created by PatchesDB software\n" \
                  "http://swami.resonance.org\n"

SmtpHost = "localhost"
NoReplyEmail = "NOREPLY_EMAIL_ADDRESS"		# Automated email reply-to address

# Allowable chars in email addresses
EmailAllowChars = string.ascii_letters + string.digits + "-[].*+?&'/=^_{}~#$!|@"

# Allowable chars in login names
LoginAllowChars = string.ascii_letters + string.digits + "[]<>()-:_+~=./&"

MaxListItems = 500                      # Max allowed items in list views
MaxRatings = 25                         # Max ratings/comments to display
SessTimeout = 3 * 3600                  # Session timeout in seconds
EnableForums = 0                        # Set to non-zero value to enable forums

# reCAPTCHA public and private keys
ReCaptchaPubKey = ""
ReCaptchaPrvKey = ""

# This string is appended to all passwords before SHA1 encoding
# An extra protection for dictionary attacks, if someone gains access to the
# encrypted user passwords.

FuKraXor = "CHANGE ME TO SOMETHING LONG AND RANDOM"
