[Desktop Entry]
Encoding=UTF-8
Name=Swami Instrument Editor
GenericName=Instrument Editor
Comment=Create, play and organize MIDI instruments and sounds
Exec=swami %F
Icon=swami
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Application;AudioVideo;Audio;Midi;Music;
MimeType=audio/dls;audio/x-soundfont;
