FONT {
  COLOR: #dddddd;
  FONT-FAMILY: Verdana,Helvetica;
  FONT-SIZE: 14px
}

TD {
  COLOR: #dddddd;
  FONT-FAMILY: Verdana,Helvetica;
  FONT-SIZE: 14px
}

BODY {
  COLOR: #dddddd;
  FONT-FAMILY: Verdana,Helvetica;
  FONT-SIZE: 14px
}

INPUT {
  BACKGROUND: #220066;
  COLOR: #ffffff;
  FONT-FAMILY: Verdana,Helvetica;
  FONT-SIZE: 14px
}

TEXTAREA {
  FONT-FAMILY: Verdana,Helvetica;
  FONT-SIZE: 14px
}

FORM {
  FONT-FAMILY: Verdana,Helvetica;
  FONT-SIZE: 14px
}

SELECT {
  FONT-FAMILY: Verdana,Helvetica;
  FONT-SIZE: 14px
}

A:link {
  BACKGROUND: none;
  COLOR: #8888ff;
  FONT-SIZE: 14px;
  FONT-FAMILY: Verdana, Helvetica;
  TEXT-DECORATION: none
}

A:active {
  BACKGROUND: none;
  COLOR: #ffffff;
  FONT-SIZE: 14px;
  FONT-FAMILY: Verdana, Helvetica;
  TEXT-DECORATION: none
}

A:visited {
  BACKGROUND: none;
  COLOR: #8888ff;
  FONT-SIZE: 14px;
  FONT-FAMILY: Verdana, Helvetica;
  TEXT-DECORATION: none
}

A:hover {
  BACKGROUND: none;
  COLOR: #ffffff;
  FONT-SIZE: 14px;
  FONT-FAMILY: Verdana, Helvetica;
  TEXT-DECORATION: none
}

.title {
  BACKGROUND: none;
  COLOR: #ffffff;
  FONT-SIZE: 16px;
  FONT-WEIGHT: bold;
  FONT-FAMILY: Verdana, Helvetica;
  TEXT-DECORATION: none
}

.newstitle {
  COLOR: #ffffff;
  FONT-SIZE: 16px;
  FONT-WEIGHT: bold;
  FONT-FAMILY: Verdana, Helvetica;
  BORDER: solid 2px #2b7bcb;
  PADDING: 0 15px 0 15px;
  MARGIN-TOP: 1em;
  MARGIN-BOTTOM: 5px;
}

.content {
  BACKGROUND: none;
  COLOR: #dddddd;
  FONT-SIZE: 14px;
  FONT-FAMILY: Verdana, Helvetica
}

.boxtitle {
  BACKGROUND: none;
  COLOR: #ffffff;
  FONT-SIZE: 16px;
  FONT-WEIGHT: bold;
  FONT-FAMILY: Verdana, Helvetica;
  TEXT-DECORATION: none
}

.lightbg {BACKGROUND: #001144}

.error {
  BACKGROUND: none;
  COLOR: #ff0000;
  FONT-SIZE: 16px;
  FONT-WEIGHT: bold;
  FONT-FAMILY: Verdana, Helvetica;
  TEXT-DECORATION: none
}

.err {
  COLOR: #ff0000;
  FONT-SIZE: 14px;
  FONT-FAMILY: Verdana, Helvetica;
}

#recaptcha_response_field {
  color: #FFFFFF !important;
  background-color: #220066 !important;
}
